.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .content {
    display: flex;
    flex-grow: 1;
  }
  
  .table-container {
    padding: 16px;
  }
  
  .mat-sidenav-container {
    height: calc(100vh - 64px); /* Restar el alto del toolbar */
  }
  
  .spacer {
    flex: 1;
  }
  
  .full-screen-modal .mat-dialog-container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 8px;
  }
  