/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
    background-color: #fff; /* Fondo blanco */
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .cdk-overlay-backdrop {
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro translúcido */
  }
  